@import 'colorsAndFonts', 'header', 'main', 'mixins';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    a {
        text-decoration: none;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}